
:root {
    --main-color: #31ED43;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    color: #333;
}

.right-side {
    flex: 1;
    background-image: url(./img-1.png);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 0;
    color: var(--main-color);
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
    color: var(--main-color);
}

h3 {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: var(--main-color);
}
.button {
    align-items: center;
    background-color: var(--main-color);
    color: #141615;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    font-weight: bold;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button:active,
.button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button {
        font-size: 24px;
        min-width: 196px;
    }
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.error_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #141615;
    color: #fff;
    font-size: 2em;
    font-family: sans-serif;
}

.error_line {
    font-size: 4em;
    text-align: center;
    margin-top: 0;
    color:  #ed3131;
}


.highlight_user
{
    color: #ed3131;
}